# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

bioc_packages:
 - RTCGA.rnaseq

r:
  - oldrel
  - release
  - devel

after_success:
  - Rscript -e 'covr::codecov()'
